body {
    margin: 0;
    padding: 0;
    font-family: "Avenir Next Medium", sans-serif;
    /* font-family:Arial, Helvetica, sans-serif; */
}
nav {
    display: block;
}
.navbar {
    padding: 0 40px;
}
.nav-img {
    margin-top: 18px;
    cursor: pointer;
}
nav ul {
    display: inline-flex;
    list-style-type: none;
    text-align: center;
    margin-left: 9%;
}
.navlink li {
    padding: 13px;
}
.navlink li a {
    text-decoration: none;
    color: gray;
    font-size: 14px;
    padding-bottom: 28px;
}
.navlink li a:hover {
    border-bottom: 4px solid #ff576b;
}
.btn {
    color: white;
    padding: 10px 26px;
    width: fit-content;
    height: fit-content;
    border: red;
    border-radius: 8px;
    background: #ff576b;
    cursor: pointer;
}
.social {
    display: inline-block;
    float: right;
    margin: 10px 20px;
}
.social-links li {
    /* display: initial; */
    list-style-type: none;
    /* float:inline-start; */
    /* padding: 0px 0 0 0 !important;
    padding-bottom: 0 !important; */
}
.social-links li a {
    /* padding-bottom: 0 !important; */
}
.social-links li a img {
    padding: 0 8px;
    /* padding-bottom: 0 !important; */
}
.hero-banner {
    background-color: rgb(8, 58, 85);
    color: white; 
    padding: 1px;
    text-align: center;
    margin: 0;
}
.hero-banner p {
    padding-bottom: 0 !important;
}
.hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    opacity: 1;
}
.hero-text {
    bottom: 15%;
    position: absolute;
    text-align: center;
    margin: 0 11%;
}
.hero-text h1 {
    font-size: xxx-large;
    color: white;
}
.hero-text p {
    color: white;
    font-size: 22px;
    line-height: normal;
}

/* Hide the images by default */
.mySlides {
    display: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 60%;
    width: auto;
    padding: 16px;
    color: white;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 30px;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 30px;
    border-radius: 3px 0 0 3px;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.bio {
    padding-top: 9%;
    padding-bottom: 60px;
    display: inline-flex;
}
.bio img {
    width: 100%;
    height: 100%;
    border-right: 10px solid #083a55;
    border-bottom: 10px solid #083a55;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.info {
    padding-left: 8%;
    margin-top: 7%;
    flex-basis: 30%;
}
.info h3 {
    font-size: 23px;
}
.info p {
    font-size: 18px;
}
section {
    padding: 40px 80px;
    text-align: center;
}
section h1 {
    font-size: xxx-large;
    color: #083a55;
}
.diff-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.diff-icon {
    width: 92px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* margin-bottom: 15px; */
}
.diff-icon.purple {
    background-color: #800080;
}
.diff-icon.navy {
    background-color: #083a55;
}
.diff-icon.yellow {
    background-color: #B76800;
}
.diff-icon.green {
    background-color: #417505;
}
.diff-icon.blue {
    background-color: #003183;
}
.diff-icon img {
    height: 26px;
}
.diff p {
    font-size: x-large;
    font-weight: 800;
    padding-bottom: 0 !important;
}
.diff ul {
    display: flex;
}
.diff ul li {
    padding: 30px;
    width: 30%;
    list-style-type: none;
}
.fact {
    background-image: url(/images/index-5.png);
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
    padding: 8% 12%;
}
.fact p {
    line-height: 40px;
}
.programs ul {
    display: inline-flex;
}
.programs ul li {
    text-align: left !important;
    list-style-type: none;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-right: 20px;
    width: 30%;
    line-height: 25px;
}
.programs img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
.programs-text {
    padding: 10px 30px 30px 30px;
}
.programs h3 {
    font-size: 16px;
}
.programs p {
    font-size: 14px;
}
.programs li a {
    font-size: 14px;
    text-decoration: none;
    margin-top: 20px;
}
.msg {
    background-color: #083a55;
    color: white;
}
.video {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 3%;
}
.iframe {
    position: relative;
}
.video-grid-lg {
    flex-basis: 60%;
    height: 500px;
}
.video-grid-sm {
    flex-basis: 36%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
}
.video-grid-sm .iframe {
    height: 46%;
}
.video1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    cursor: pointer;
    transition: 300ms;
}
.video1 img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}
.video1 .iframe-overlay {
    opacity: 6;
    position: absolute;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    /* padding: 30%; */
}
.overlay-text {
position: absolute;
    /* color: white;
    font-size: 20px;
    text-transform: uppercase; */
}





footer {
    background-color: #083a55;
    color: white;
    padding: 50px;
}
footer ul li {
    list-style-type: none;
    padding-bottom: 15px;
    font-size: 13px;
}
.footer-top {
    display: grid;
    grid-auto-flow: column;
}
.footer-bottom {
    display: grid;
    grid-auto-flow: column;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    margin-top: 2%;
    font-size: 13px;
}
/* .foo-btn {
    color: white;
    padding: 10px 26px;
    width: fit-content;
    border: red;
    border-radius: 8px;
    background: #ff576b;
} */

/* red color code: rgb(255, 87, 107 */